.room-entry {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.new-room {
  height: 17rem;
  padding: 2rem 2rem 2rem 2rem;
}

#new-room2 {
  margin-right: 5px;
  padding-right: 27px;
}

.auth-jumbotron {
  padding: 2rem 2rem 2rem 2rem;
}

.room-list {
  padding: 2rem 2rem 2rem 2rem;
}

.delete-icon::after {
  content: "×";
}

.error {
  color: red;
}

.hidden {
  visibility: hidden;
}

.elementToFadeInAndOut {
  opacity: 1;
  animation: fade 5s linear;
}

@keyframes fade {
  0%, 100% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}