.room-entry {
  display:flex;
  justify-content:space-between;
  margin: 5px;
}

.room-link {

}

.room-delete {

}

.room-id {

}
@media (max-width: 1199px) {
  .nav-width {
    width: 700px;
  }
}


.new-room {
  height: 17rem;
  padding: 2rem 2rem 2rem 2rem;
}

#new-room2 {
margin-right: 5px;
padding-right: 27px;
}


.auth-jumbotron {
  padding: 2rem 2rem 2rem 2rem;
}

.room-list {
  padding: 2rem 2rem 2rem 2rem;
}


.delete-icon::after {
  content: "×";
}

.error {
  color: red;
}

.hidden {
  visibility: hidden;
}