.canvas_layer {
  position: absolute;
  height: 500px;
  width: 700px;
}

#room_name {
  min-height: 37px;
}

.layers {
  margin-left: 25px;
  width: 350px
}

.main-content {
  padding-left: 30px;
}

#layer_panel_list {
  overflow: hidden;
  overflow-y: auto;
  height: 200px;
}

.canvas_layer.hidden {
  visibility: hidden;
}

#designer_layers {
  position: relative;
  height: 510px;
  margin-bottom: 20px;
  padding: 5px;
  width: 710px;
  min-width: 700px;
  border: solid black 1px;
}

#layer_panel_list {
  border: solid black 1px;
  width: 200px;
  margin: 10px 0px;
  padding: 5px;
}

.layer_list_row {
  display: flex;
  flex-direction: row;
}

.layer_element {
  margin: 5px;
  padding: 5px;
  border: solid gray 1px;
  text-align: center;
  width: 100%;
  cursor: default;
}

.layer_element:hover {
  border: solid black 1px;
}

.layer_element.selected {
  border: solid black 2px;
}

.native-hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.eye {
  cursor: pointer;
}

input[type="checkbox"] {
  content: url('../uploads/vis.png');
  display: block;
  width: 45px;
  height: 25px;
  margin: 5px;
  margin-top: 7px;
}

input[type="checkbox"]:checked {
  content: url('../uploads/invis.png');
  display: block;
  width: 45px;
  height: 30px;
  margin: 5px;
  margin-top: 7px;
}